{% extends '../base.html' %}
{% load static %}

{% block content %}

   <body>
      {% include "main-wrapper.html" %}
         {% include "sidebar.html" %}
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Add Students</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'school:manage_student' %}">Students</a></li>
                           <li class="breadcrumb-item active">Add Students</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                          
                           <form method="post">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Student Information</span></h5>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label> Admission Number </label>{{form.student_ID}}
                                       
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group" >
                                       <label>Admission Date</label>
                                       <div>
                                          <input type="date" id="admission_date" name="admission_date" class="form-control">
                                       </div>
                                    </div>
                                 </div>
 
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Student Email</label>
                                       {{form.email}}
                                    </div>
                                 </div>
                               
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group" placeholder="First Name">
                                       <label >First Name </label>{{form.first_name}}
                                     
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label> Last Name</label>{{form.last_name}}
                                       
                                    </div>
                                 </div>
                                 
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Gender</label>
                                   {{form.gender}}
                                    </div>
                                 </div>

                               
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group" placeholder="First Name">
                                       <label >KCPE Marks {{form.kcpe_marks}}</label>
                                     
                                    </div>
                                 </div>
                               
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Student House</label>
                                       <input type="text" class="form-control">
                                    </div>
                                 </div>
                            
                          
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Student Image</label>
                                       {{form.profile_pic}}
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Session</label>
                                          {{form.session_year_id}}
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Class</label>
                                          {{form.class_id}}
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Subjects</label>
                                          {{form.subject_id}}
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Parent Information</span></h5>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Father's Name</label>
                                       <input type="text" id="fathers_name" name="fathers_name"  class="form-control">
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Father's Email</label>
                                       <input type="email" id="fathers_email" name="fathers_email" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Father's Mobile</label>
                                       <input type="text" id="fathers_phonenumber" name="fathers_phonenumber" class="form-control">
                                    </div>
                                 </div>
                              
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Mother's Name</label>
                                       <input type="text" id="mothers_name"  name="mothers_name" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Mother's Email</label>
                                       <input type="email" id="mothers_email" name="mothers_email" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col-6 col-md-4 col-sm-3">
                                    <div class="form-group">
                                       <label>Mother's Mobile</label>
                                       <input type="text" id="mothers_phonenumber" name="mothers_phonenumber" class="form-control">
                                    </div>
                                 </div>
                           
                             
                                 <div class="col-6 col-md-3 col-sm-3">
                                    <div class="form-group">
                                       <label>Residential Address</label>
                                       <textarea class="form-control" id="residential_address" name="residential_address"></textarea>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      
   </body>
   {% endblock %}
   
</html>