{%extends '../base.html' %}
{% load static %}

{% block content %}

   <body>
      {% include "main-wrapper.html" %}
         {% include "sidebar.html" %}
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Add Class</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'school:manage_classes'%}">Classes</a>
                  </li>
                  <li class="breadcrumb-item active">Add Class</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form method="post">
                   
                    {% csrf_token %}
                    {{form}}
                    <div class="col-6 col-md-3 col-sm-3 form-group p-4 my-2" >
                      <button type="submit" class="btn btn-primary">Add</button>
                   </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}


