{% load static %}
<div class="main-wrapper">
    <div class="header">
       <div class="header-left">
          <a href="index.html" class="logo">
          <img src="{% static 'img/logos.png' %}" alt="Logo">
          </a>
          <a href="index.html" class="logo logo-small">
          <img src="{% static 'img/logo-small.png' %}" alt="Logo" width="30" height="30">
          </a>
       </div>
       <a href="javascript:void(0);" id="toggle_btn">
       <i class="fas fa-align-left"></i>
       </a>
       <div class="top-nav-search">
          <form>
             <input type="text" class="form-control" placeholder="Search here">
             <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
       </div>
       <a class="mobile_btn" id="mobile_btn">
       <i class="fas fa-bars"></i>
       </a>
       <ul class="nav user-menu">
          <li class="nav-item dropdown noti-dropdown">
             <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
             <i class="far fa-bell"></i> <span class="badge badge-pill" id="notification-badge"></span>
             </a>
             <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                   <span class="notification-title">Notifications</span>
                   <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                </div>
                <div class="noti-content" id="notifications-dropdown">
                   <ul class="notification-list" id="notifications-dropdown">
                      <li class="notification-message">
                         <a href="#">
                            <div class="media">
                               <span class="avatar avatar-sm">
                               <img class="avatar-img rounded-circle" alt="User Image" src="{% static '/img/profiles/avatar-02.jpg' %}">
                               </span>
                               <div class="media-body">
                                  <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                  <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                               </div>
                            </div>
                         </a>
                      </li>
                      
                   </ul> 
                </div>
                <div class="topnav-dropdown-footer">
                   <a href="#">View all Notifications</a>
                </div>
             </div> 
          </li>
          <li class="nav-item dropdown has-arrow">
             <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
             <span class="user-img"><img class="rounded-circle" src="{% static '/img/profiles/avatar-01.jpg' %}" width="31" alt="Ryan Taylor"></span>
             </a>
             <div class="dropdown-menu">
                <div class="user-header">
                   <div class="avatar avatar-sm">
                      <img src="{{request.profile_pic.url}}" alt="User Image" class="avatar-img rounded-circle">
                   </div>
                   <div class="user-text">
                      <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                      <p class="text-muted mb-0"> {% if request.user.is_student %} Student {% elif request.user.is_admin  %} Admin {% else %} Teacher {% endif %}</p>
                   </div>
                </div>
                <a class="dropdown-item" href="profile.html">My Profile</a>
                <a class="dropdown-item" href="{% url 'school:inbox'%}">Inbox</a>
                <a class="dropdown-item" href="{% url 'school:logout_user'%}">Logout</a>
             </div>
          </li>
       </ul>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(document.getElementById('room-name').textContent);

      const notificationSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/notification/'
          + roomName
          + '/'
      );  
      notificationSocket.onopen = function(e) {
          console.info('Chat socket openned successfully');
      };

      notificationSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          console.log(data);
          document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;
        document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
         //  document.querySelector('#chat-log').value += (data.message + '\n');
      };

      notificationSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      // document.querySelector('#chat-message-input').focus();
      // document.querySelector('#chat-message-input').onkeyup = function(e) {
      //     if (e.keyCode === 13) {  // enter, return
      //         document.querySelector('#chat-message-submit').click();
      //     }
      // };

      // document.querySelector('#chat-message-submit').onclick = function(e) {
      //     const messageInputDom = document.querySelector('#chat-message-input');
      //     const message = messageInputDom.value;
      //     chatSocket.send(JSON.stringify({
      //         'message': message
      //     }));
      //     messageInputDom.value = '';
      // };
  </script>