{%extends 'base.html' %}
{% load static %}

{% block content %}
   <body>
      <div class="main-wrapper login-body">
         <div class="login-wrapper">
            <div class="container">
               <div class="loginbox">
                  <div class="login-left">
                     <img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
                  </div>
                  <div class="login-right">
                     <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Access to our dashboard</p>
                        <form action="" method="post">
                           {% csrf_token %}
                           <!-- <div class="form-group">
                              <input class="form-control" type="email" name="email" placeholder="Email" id="email">
                           </div> -->
                           <div class="form-group">
                              <input class="form-control" type="text" name="username" placeholder="username" id="username">
                           </div>
                           <div class="form-group">
                              <input class="form-control" type="password" name="password" placeholder="Password" id="password">
                           </div>
                           <div class="form-group">
                              
                              <button class="btn btn-primary btn-block" type="submit">Login</button>
                           </div>
                        </form>
                        <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                       
                    
                        <div class="text-center dont-have">Don’t have an account? <a href="{% url 'school:doRegistration' %}">Register</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   {% endblock %}