{% extends '../base.html' %}
{% load teacher_template_tags %} 
{% load static %}

{% block content %}

   <body>
      {% include "main-wrapper.html" %}
         {% include "sidebar.html" %}
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row">
                     <div class="col">
                       <h3 class="page-title"></h3>
                       <ul class="breadcrumb">
                         <li class="breadcrumb-item">
                           <a href="{% url 'school:staff_add_result' %}">Subjects</a>
                         </li>
                         <li class="breadcrumb-item active">{{current_subject.subject_name}} {{ current_subject.class_id.name  }}  </li>
                       </ul>
                     </div>
                   </div>
                  <!-- <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title"></h3>
                        <ul class="breadcrumb">
                           {{current_subject.subject_name}} {{ current_subject.class_id.name  }}  students
                           <li class="breadcrumb-item active"></li>
                        </ul>
                     </div>
                  </div> -->
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 ">
                                 <thead>
                                    <tr>
                                       <th>Student ID</th>
                                       <th>Name</th>
                                       
                                       <th>Cat one</th>
                                       <th>Cat two</th>
                                       <th>End Term</th>
                                       <th>Grade</th>
                                     
                                   
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for student in students %}
                                    {% get_student_marks student.id current_subject.id as marks %} 
                                    <tr>
                                       <td> <span> {{student.student_id}}</span></td>
                                       <td><span>
                                          <h2 class="table-avatar">
                                             <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle " src="{{student.profile_pic.url}}" alt="User Image"></a>
                                             <a >{{student.users_type.first_name}} {{student.users_type.last_name}}</a>
                                          </h2></span>
                                       </td>
                                    <td><span>{{marks.subject_exam1_marks}}</span></td>
                                    <td><span>{{marks.subject_exam2_marks}}</span></td> 
                                    <td><span>{{marks.subject_endexam_marks}}</span></td>
                                    <td><span>{{marks.grade}}</span></td>
                                    
                                       <td class="text-right">
                                          
                                          <div class="actions">
                                             {% if marks.subject_exam1_marks and  marks.subject_exam2_marks and marks.subject_endexam_marks %}
                                             <a href="{% url 'school:staff_edit_marks' student.id %}" class="btn btn-sm bg-danger-light mr-2 badge badge-success">
                                             edit
                                             </a>
                                             {% elif marks.subject_exam1_marks or  marks.subject_exam2_marks or marks.subject_endexam_marks%}
                                             <a href="{% url 'school:staff_edit_marks' student.id %}" class="btn btn-sm bg-success-light mr-2 badge badge-success">
                                                add
                                                </a>
                                             {% else %}
                                             <a href="{% url 'school:staff_add_marks' student.id %}" class="btn btn-sm bg-success-light badge badge-success" >
                                           

 

                                             add
                                             
                                             </a>
                                             {% endif %}
                                          </div>

                                       </td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                               
                              </table>
                             </div>
                            
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
          </div>
   </body>


   {% endblock %}
   
</html>